<!DOCTYPE html>
<html>
<head>
  <title>Endo-Mail Continuing Education Seminars</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= image_tag("logo.jpg") %>
    <%= @page_title || "Continuing Education" %>

  <nav id="main_nav" role="navigation">
      <ul>
        <li><a href="http://endomail.com/index.html">Home</a></li>
        <li><a href="http://endomail.com/mission.html">Our Mission</a></li>
        <li><a href="http://endomail.com/doctors.html">Our Doctors</a></li>
        <li><a href="http://endomail.com/office.html">Our Office</a></li>
        <li><a href="http://endomail.com/seminars.html">Our Office</a></li>
        <li><a href="http://endomail.com/articles.html">Our Office</a></li>
        <li><%= link_to"CE Credits", {:controller => 'store', :action => 'index' } %></a></li>
      </ul>
  </nav>
  </div>

</body>

  <aside id="columns">
    <div id="side">
      <ul>
        <li>Your Cart</li>
    </ul>

<!-- START_HIGHLIGHT -->
      <!-- START:hidden_div -->
    <% if @cart %>
      <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
        <%= render @cart %>
      <% end %>
    <% end %>
    <!-- END:hidden_div -->

<!-- END_HIGHLIGHT -->
    </div>
   </aside>
  <div  id="main">
    <%= yield %>
  </div>
 

  <footer id="footer">
    <small>Endo Mail</small>
    <nav id="main_nav">
      <ul>
        <li><a href="http://endomail.com/index.html">Home</a></li>
        <li><a href="http://endomail.com/mission.html">Our Mission</a></li>
        <li><a href="http://endomail.com/doctors.html">Our Doctors</a></li>
        <li><a href="http://endomail.com/office.html">Our Office</a></li>
        <li><a href="http://endomail.com/seminars.html">Our Office</a></li>
        <li><a href="http://endomail.com/articles.html">Our Office</a></li>
        <li><%= link_to "CE Credits", {:controller => 'store', :action => 'index'} %></a></li>
      </ul>
    </nav>
  </footer>

</html>
